body { 
  background: url("../img/456.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.big-icon {
    font-size: 32px;


{
       background-color:rgba(0,0,0,0) !important;
       border:none !important;
    }

